/* GENERAL */
#app {
  padding: 2em;
  width:100%;
  transition: background-color 0.3s ease;
}
#title {
    margin: 0;
    margin-bottom: 25px;
}
#homeDirectoryLink {
  margin-top: 25px;
}
#hideFinishedButton > input {
  min-height: unset;
  vertical-align: middle;
  pointer-events: none;
  margin: 0px;
}
#hideFinishedButton > span {
  vertical-align: middle;
}
hr {
    margin: 20px 0px;
    border-width: 1px 0px;
    border-top-style: solid;
    border-top-color: var(--color-background-dark);
    border-bottom-style: solid;
    border-bottom-color: var(--color-background-dark);
}
.fileDropZone {
    transition: background 0.5s;
}
.fileDrag {
    background-color: rgb(179, 230, 255) !important;
}
.label {
    background-color: var(--color-primary);
    border-radius: 3px;
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: white;
    vertical-align: baseline;
    white-space: nowrap;
}
.progressbar {
    height: 20px;
    max-width: 40%;
    background-color: var(--color-background-darker) !important;
}
.select-file-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiB2ZXJzaW9uPSIxLjEiPjxwYXRoIGZpbGw9IiMwMDAiIGQ9Im0yLjUgMWMtMC4yOCAwLTAuNSAwLjIyLTAuNSAwLjV2MTNjMCAwLjI4IDAuMjIgMC41IDAuNSAwLjVoMTFjMC4yOCAwIDAuNS0wLjIyIDAuNS0wLjV2LTEwLjVsLTMtM3oiLz48L3N2Zz4K) !important;
}
#FolderSelectInput , #FileSelectInput {
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
}

/* ======================== */

/* MOBILE STYLE */
@media (pointer:none), (pointer:coarse) {
    .hideOnMobile {
        display: none;
    }
    .buttonGroup {
        flex-flow: column !important;
    }
    #uploadsTable > thead > tr > th > a {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #uploadsTable > thead > tr > th {
      width: unset !important;
    }
}
.buttonGroup {
    display: flex;
    flex-flow: row;
}
/* ======================== */

/* TABLE STYLE */
#uploadsTable {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-collapse: separate;
    border-spacing: 0;
    white-space: nowrap;
}
#uploadsTable > thead {
    box-sizing: border-box;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
#uploadsTable > thead > tr > th {
    border-bottom: 1px solid var(--color-border);
    text-align: left;
    font-weight: normal;
    color: var(--color-text-maxcontrast);
}
#uploadsTable > thead > tr > th > a {
    display: block;
    padding: 15px;
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    color: var(--color-text-maxcontrast);
}
#uploadsTable > tbody > tr {
    transition: background-color 0.3s ease;
    height: 51px;
}
.action .icon {
    display: inline-block;
    vertical-align: middle;
    background-size: 16px 16px;
}
.sortIndicator {
    width: 10px;
    height: 8px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: text-bottom;
    opacity: 0.3;
}
/* ======================== */

/* Helpers */
.ellipsis {
    position: relative;
}
.ellipsis:before {
    content: '&nbsp;';
    visibility: hidden;
}
.ellipsis span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
progress::-ms-fill {
    border: none;
}
progress[value="100"]::-ms-fill {
    background-color: #00ff00;
}
