#app {
  padding: 2em;
  width:100%;
  transition: background-color 0.3s ease;
}
@media (pointer:none), (pointer:coarse) {
    .progressbar {
        display: none;
    }
}
hr {
    margin: 20px 0px;
    border-width: 1px 0px;
    border-top-style: solid;
    border-top-color: var(--color-background-dark);
    border-bottom-style: solid;
    border-bottom-color: var(--color-background-dark);
}
#title {
    margin: 0;
    margin-bottom: 25px;
}
.file-drag{
    background-color: rgb(179, 230, 255) !important;
}
.label {
    background-color: var(--color-primary);
    border-radius: 3px;
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: white;
    vertical-align: baseline;
    white-space: nowrap;
}
#uploadsTable{
    width: 100%;
    vertical-align: middle;
    border-collapse: separate;
    border-spacing: 0;
    white-space: nowrap;
}
#uploadsTableThead{
    box-sizing: border-box;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.uploadsTableTheadTh{
    border-bottom: 1px solid var(--color-border);
    text-align: left;
    font-weight: normal;
    color: var(--color-text-maxcontrast);
}
.columntitle{
    display: block;
    padding: 15px;
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
    color: var(--color-text-maxcontrast);
}
table th .sort-indicator{
    width: 10px;
    height: 8px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: text-bottom;
    opacity: 0.3;
}
.uploadsTableTbodyTr{
    transition: background-color 0.3s ease;
    height: 51px;
}
.actions {
    z-index: 50;
}
.action .icon{
    display: inline-block;
    vertical-align: middle;
    background-size: 16px 16px;
}

#hideFinishedCheckbox {
  min-height: unset;
  vertical-align: middle;
  pointer-events: none;
  margin: 0px;
}
#hideFinishedText {
  vertical-align: middle;
}
.progressColumnDiv {
    display: flex;
    align-items: center;
}
.progressColumnDiv * {
    margin-left: 7px;
    margin-right: 7px;
}
.progressbar {
    height: 20px;
    max-width: 40%;
    background-color: var(--color-background-darker) !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* Edge Progressbar fix:*/
progress::-ms-fill {
    border: none;
}

progress[value="100"]::-ms-fill {
    background-color: #00ff00;
}
